<head>
  <meta name="author" content="Raasi">
</head>
<div class ="container">
  <h2>Status of Tickets</h2>
  <form>
      <div class="form-group">
        <label for="userName">Username</label>
        <input type="text" class="form-control" id="username" name="userName" [(ngModel)]="userName" required>
      </div>
      <button type="submit" class="btn btn-success" (click)="getData()">Submit</button>
    </form>
</div>

<div class="container">
    <div style="display: block">
      <canvas *ngIf="barChartData" 
      baseChart
      id="bar"
      height="500"
      width="500"
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              [colors]="barChartColors">
      </canvas>
    </div>
  </div>